<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <main>
      <div class="jumbotron">
        <h1>User register</h1>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <span class="text-mute"
            >Already has an account? <a href="/auth/login">Login</a></span
          >
        </form>
      </div>
    </main>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
